.main__title img {
  width: var(--main-title-img);
}

.favorites__title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--flex-gap-20);
}

.favorites-list--empty {
  text-align: center;
  color: var(--primary-color);
}
