.favorite-card {
  background-color: var(--card-background);
  display: flex;
  justify-content: space-between;
  width: var(--favorite-card-width);
  max-height: var(--favorite-card-height);
  line-height: var(--line-height-20);
  padding: var(--card-padding);
  cursor: pointer;
}

.favorite-card__content {
  display: flex;
  width: 80%;
  gap: var(--flex-gap-15);
}

.favorite-card__content img {
  height: 100%;
  width: var(--favorite-card-img-width);
}
