.card-info {
  display: flex;
  gap: var(--flex-gap-50);
  @media screen and (max-width: 480px) {
    flex-direction: column;
    gap: var(--flex-gap-80);
  }
}

.card-info img:not(button > img) {
  width: var(--card-info-width);
  height: var(--card-info-height);
  @media screen and (max-width: 480px) {
    width: var(--card-info-width-media);
    height: var(--card-info-height-media);
  }
}

.card-info {
  font-size: var(--font-size-14);
}

.card-info span {
  color: var(--highlight-color);
}
.artist-info {
  display: flex;
  flex-direction: column;
  gap: var(--flex-gap-5);
}

.main-description .artist-info span {
  font-size: var(--font-size-16);
}

.main-description .artist-info p {
  font-weight: bolder;
  font-size: var(--font-size-14);
}

.description__title {
  color: var(--primary-color);
  font-size: var(--font-size-23);
  margin-bottom: 15px;
}

.card-info__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media screen and (max-width: 480px) {
    gap: var(--flex-gap-20);
  }
}

.description__list li {
  padding-bottom: 10px;
}

.image-box {
  position: relative;
}
.image-box .card__button {
  position: absolute;
  top: 10px;
  right: 10px;
}
