header {
  background: var(--header-background);
  font-family: var(--header-font-family), sans-serif;
  color: var(--header-color-text);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: var(--box-padding);
}

.header__content {
  width: var(--box-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: var(--flex-gap-20);
  @media screen and (max-width: 480px) {
    display: none;
  }
}
