:root {
  --primary-color: rgb(52, 51, 51);
  --highlight-color: rgb(224, 164, 73);
  --second-color: rgb(241, 121, 0);
  --header-background: linear-gradient(
    90deg,
    rgb(52, 51, 51) 38.05%,
    rgb(72, 72, 72) 69.22%,
    rgb(40, 40, 40) 98.98%
  );
  --header-color-text: rgb(255, 255, 255);
  --background-color: rgb(250, 250, 250);
  --footer-background: rgb(255, 255, 255);
  --error-color: rgb(255, 0, 0);
  --button-background-color: rgb(249, 249, 249);
  --card-background: rgb(255, 255, 255);
  --loader-border: 5px solid rgb(204, 204, 204);
  --search-background-color: rgba(57, 57, 57, 0.05);

  --box-width: 70%;
  --box-margin: 80px 0;
  --font-family: LexendDeca;
  --header-font-family: Inter;
  --line-height-20: 20px;
  --line-height-25: 25px;

  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-23: 23px;
  --font-size-12: 12px;
  --font-size-15: 15px;
  --font-size-30: 30px;
  --font-size-60: 60px;

  --box-padding: 20px 0;

  --card-width: 300px;
  --card-height: 400px;
  --card-padding: 15px;

  --button-width: 50px;
  --button-height: 50px;

  --main-title-width: 600px;
  --main-title-margin: 50px 0;

  --flex-gap-20: 20px;
  --flex-gap-50: 50px;
  --flex-gap-80: 80px;
  --flex-gap-5: 5px;
  --flex-gap-30: 30px;
  --flex-gap-10: 10px;
  --flex-gap-15: 15px;

  --loader-width: 50px;
  --loader-height: 50px;

  --cards-list-width: 400px;

  --padding-20: 20px;
  --padding-10: 10px;

  --favorite-card-width: 340px;
  --favorite-card-height: 100px;
  --favorite-card-img-width: 70px;

  --card-info-width: 400px;
  --card-info-height: 480px;
  --card-info-width-media: 100%;
  --card-info-height-media: 280px;

  --burger-menu-width: 60%;
  --burger-menu-paddung: 25px;
  --burger-menu-button-width: 50%;
  --burger-menu-links-img-width: 20px;
  --burger-menu-links-img-height: 20px;

  --box-width-media: 90%;
}
