footer {
  margin-top: auto;
  background: var(--secondary-color);
  font-family: var(--header-font-family), sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: var(--box-padding);
  color: var(--primary-color);
}

.footer__content {
  min-width: var(--box-width);
  display: flex;
  justify-content: space-between;
}

.footer__content > img {
  @media screen and (max-width: 480px) {
    width: var(--footer-media-img);
  }
}
