* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
}

body {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: var(--font-family), sans-serif;
}

.content-box {
  max-width: var(--box-width);
  margin: var(--box-margin);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.title {
  text-align: center;
  line-height: var(--line-height-25);
}

.card__button {
  width: var(--button-width);
  height: var(--button-height);
  border-radius: 50%;
  border: none;
  background-color: var(--button-background-color);
}

.card__button.active {
  background-color: rgba(251, 215, 178, 0.3);
}

.title .title-small {
  color: var(--highlight-color);
  font-size: var(--font-size-15);
}

.title .title-large {
  color: var(--primary-color);
  font-size: var(--font-size-30);
}

.card__title {
  font-weight: bolder;
  font-size: var(--font-size-14);
}

.card__artist {
  color: var(--highlight-color);
  font-size: var(--font-size-12);
}

.card__status {
  font-size: var(--font-size-12);
  font-weight: bolder;
}

.card__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}
